<!DOCTYPE html>
<html>

<div id=navigate>
    <a href="/">Menu</a>
    <a href="/add">Add</a>
</div>

<head>
    <title> Menu </title>
    <link rel="stylesheet" href="css/tokimon.css">
</head>

<body>
<form action="/update/<%=tokimon.id%>" method="post">
    <table> Enter new tokimon attributes
        <tr>
            <td>Name:</td>
            <td><input type="text" name="toki" required
                       value=<%=tokimon.name%> /></td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td><input type="number" min=0 name="weight" step="any" required
                       value=<%=tokimon.weight%> /></td>
        </tr>
        <tr>
            <td>Height:</td>
            <td><input type="number" min=0 name="height" step="any" required
                       value=<%=tokimon.height%> /></td>
        </tr>
        <tr>
            <td>Fly:</td>
            <td><input type="number" min=0 max=100 name="fly" step=1 required
                       value=<%=tokimon.fly%> /></td>
        </tr>
        <tr>
            <td>Fight:</td>
            <td><input type="number" min=0 max=100 name="fight" step=1 required
                       value=<%=tokimon.fight%> /></td>
        </tr>
        <tr>
            <td>Fire:</td>
            <td><input type="number" min=0 max=100 name="fire" step=1 required
                       value=<%=tokimon.fire%> /></td>
        </tr>
        <tr>
            <td>Water:</td>
            <td><input type="number" min=0 max=100 name="water" step=1 required
                       value=<%=tokimon.water%> /></td>
        </tr>
        <tr>
            <td>Electric:</td>
            <td><input type="number" min=0 max=100 name="electric" step=1 required
                       value=<%=tokimon.electric%> /></td>
        </tr>
        <tr>
            <td>Ice:</td>
            :</td>
            <td><input type="number" min=0 max=100 name="ice" step=1 required
                       value=<%=tokimon.ice%> /></td>
        </tr>
        <tr>
            <td>Trainer:</td>
            <td><input type="text" name="trainer" required
                       value=<%=tokimon.trainer%> /></td>
        </tr>
    </table>

    <input type="submit" value="Update">

</form>

</body>

</html>