
<!DOCTYPE html>
<html>

    <div id=navigate>
        <a href="/">Menu</a>
        <a href="/add">Add</a>
    </div>

    <head>
        <title> Menu </title>
        <link rel="stylesheet" href="/css/tokimon.css">
    </head>

    <body>

    <div id="main">
        <ul>
            <li>Name: <%= tokimon.name%></li>
            <li>Weight: <%= tokimon.weight%></li>
            <li>Height: <%= tokimon.height%></li>
            <li>Fly: <%= tokimon.fly%></li>
            <li>Fight: <%= tokimon.fight%></li>
            <li>Fire: <%= tokimon.fire%></li>
            <li>Water: <%= tokimon.water%></li>
            <li>Electric: <%= tokimon.electric%></li>
            <li>Ice: <%= tokimon.ice%></li>
            <li>Total: <%= tokimon.total%></li>
            <li>Trainer: <%= tokimon.trainer%></li>
        </ul>
    </div>

    <form action="/delete/<%=tokimon.id%>" method="post">
        <input type="submit" value="Delete">
    </form>

    <script src="/js/tokimon.js"></script>

    </body>

</html>